<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Attendance</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="bg-dark">
	<div class="container">
		<div class="nav d-flex">
			<div class="dept d-flex p-2 pt-5 pb-5">
				<h4 class="text-light pr-3">Department</h4>
				<select>
					<option>CSE</option>
					<option>ECE</option>
					<option>EEE</option>
					<option>MECH</option>
					<option>Civil</option>

				</select>
			</div>
			<div class="year d-flex p-2  pt-5 pb-5">
				<h4 class="text-light pr-3">Year</h4>
				<select>
					<option>First</option>
					<option>Second</option>
					<option>Third</option>
					<option>Fourth</option>
				</select>
			</div>
			<div class="sem d-flex p-2 pt-5 pb-5">
				<h4 class="text-light pr-3">Semester</h4>
				<select>
					<option>Odd</option>
					<option>Even</option>
				</select>
			</div>
			<div class="date d-flex p-2 pt-5 pb-5"> 
				<h4 class="text-light pr-3">Choose Date</h4>
				<input type="date">
			</div>
		</div>
		<div class="content">
			<table class="table bg-light">
				<thead>
					<th>Name</th>
					<th>Period 1</th>
					<th>Period 2</th>
					<th>Period 3</th>
					<th>Period 4</th>
					<th>Period 5</th>
					<th>Period 6</th>
					<th>Period 7</th>
					<th>Period 8</th>
				</thead>
				<tbody>
					<tr>
						<td>Me</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab
							<!--<div class="opt" style="display:none;"><select><option>Ab</option><<option>Od</option></select></div>-->
						</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><div class="checking"><input type="checkbox" checked onchange="checking(this)">Presented <textarea id="msg" style="display:none"></textarea> </div></td>

					</tr>
					<tr>
						<td>Me</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><div class="checking"><input type="checkbox" checked onchange="checking(this)">Presented <textarea id="msg" style="display:none"></textarea> </div></td>

					</tr><tr>
						<td>Me</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><input type="radio" class="pre text-primary" checked> &#x2713;<input type="radio" class="abs"> ab</td>
						<td><div class="checking"><input type="checkbox" checked onchange="checking(this)">Presented <textarea id="msg" style="display:none"></textarea></div> </td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
<script type="text/javascript">
const table = document.querySelector('table');

const rows = table.querySelectorAll('tr');
rows.forEach((row, index) => {
const tds = row.querySelectorAll('td');

	tds.forEach((td,indextd)=>{
  		const name = `p${index}${indextd}`;

  const radioButtons = td.querySelectorAll('input[type="radio"]');

  radioButtons.forEach(radioButton => {
    radioButton.name = name;
	});	
  });
});
var abs = document.querySelectorAll('.abs');

abs.forEach((ab)=>{
    ab.addEventListener('dblclick',()=>{
    	if(ab.nextSibling.data == ' ab')
    	ab.nextSibling.data = ' Od'
    	else
    		ab.nextSibling.data = ' ab'


})
})
function checking(that){
	console.log(that.parentNode.parentNode.parentNode)
	var checks= document.querySelectorAll(".checking");
	checks.forEach((check)=>{
			var box = check.querySelector("input[type=checkbox]");
			var msg = check.querySelector("textarea");
			if(!box.checked){
				msg.style.display = 'block';
				let abs = that.parentNode.parentNode.parentNode.querySelectorAll('.abs');
				let pres = that.parentNode.parentNode.parentNode.querySelectorAll('.pre');
				

				abs.forEach((ab)=>{
					ab.removeAttribute("checked","checked")
				})
				pres.forEach((pre)=>{
					pre.setAttribute("checked","checked"); 
				})
				console.log(abs)
				console.log(pres)
				
			}
			else{
		msg.style.display = 'none';
				
	let abs = that.parentNode.parentNode.parentNode.querySelectorAll('.abs');
	let pres = that.parentNode.parentNode.parentNode.querySelectorAll('.pre');
				pres.forEach((pre)=>{
					pre.removeAttribute("checked","checked"); 
				})
				abs.forEach((ab)=>{
					ab.setAttribute("checked","checked")
				})
			
			}
	})
}




</script>
</html>
