<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Time Table</title>
	<link rel="stylesheet" type="text/css" href="{% static "../../../static/jazzmin/css/main.css" %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
 
</head>
<body class="bg-dark">
	<div class="container">
		<div class="forms d-flex flex-row">
			<form method="post" class="bg-light d-flex flex-row">
			  {% csrf_token %}
			  <div class="form-group d-flex pl-5 pr-5 mt-3 border-right border-3 border-secondary">
				<label class="my-label pr-3" for="department"><h5>Department</h5></label>
				<select class="form-select bg-primary border-0 rounded text-white" name="department" id="department">
				  {% for department in departments %}
				  <option value="{{ department.id }}">{{ department.name }}</option>
				  {% endfor %}
				</select>
			  </div>
			  <div class="form-group d-flex pl-5 pr-5 mt-3 border-right border-3 border-secondary">
				<label class="my-label pr-3" for="year"><h5>Year</h5></label>
				<input class="form-control" type="text" name="year" id="year">
			  </div>
			  <div class="pl-5 pr-5 mt-3">
			  <button class="btn btn-primary btn-sm p-2" type="submit">Get Timetable</button>
			  </div>
			</form>
		  </div>
		  
		  
		{% if values %}
		{% if timetable%}

		<div class="d-flex justify-content-center align-items-center text-center p-2"><h3 class="rounded text-center bg-light d-inline-block"><b>Time Table For {{timetable.year_id}} {{timetable.department.name}}</b></h3></div>
		<div  class="bg-light">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Day</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
					</tr>
				</thead>
				<tbody>
					{% for data in timetable%}
					<tr class="">
						<td>{{data.day}}</td>
						<td>{{data.period_1}}</td>
						<td>{{data.period_2}}</td>
						<td>{{data.period_3}}</td>
						<td>{{data.period_4}}</td>
						<td>{{data.period_5}}</td>
						<td>{{data.period_6}}</td>
						<td>{{data.period_7}}</td>
						<td>{{data.period_8}}</td>
					</tr>
					{%endfor%}
				</tbody>	
			</table>
		</div>
			<div class="bg-light">
				<div>
					<table class="table table-striped table-bordered">
						<thead>
							<th>Subjects</th>
							<th>Faculty</th>
							<th>Type</th>
						</thead>
						<tbody>
							<tr>
								<td>Mobile Computing(MC)</td>
								<td>Ramnath</td>
								<td>AP/CSE</td>
							</tr>
							<tr>
								<td>Internet Programming(IP)</td>
								<td>Suganthi</td>
								<td>AP/CSE</td>
							</tr>
							<tr>
								<td>Compiler Design(CD)</td>
								<td>Jeeva</td>
								<td>AP/CSE</td>
							</tr>
							<tr>
								<td>Distributed Systems(DS)</td>
								<td>Pon Sundari</td>
								<td>AP/CSE</td>
							</tr>
							<tr>
								<td>Artificial Intelligence(AI)</td>
								<td>Nandhini</td>
								<td>AP/CSE</td>
							</tr>
							<tr>
								<td>Mini Project(MP)</td>
								<td>George David</td>
								<td>AP/CSE</td>
							</tr>
						</tbody>
					</table>

				</div>
		</div>
		{%else%}
		<h4 class="alert text-white ">TimeTable did not created</h4>
		{%endif%}
		{% else %}
		<h4  class="alert text-white ">Fill the Fields</h4>
		{%endif%}
	</div>
</body>
</html>